{% extends 'seller_base.html' %}
{% load static %}
{% block title%}Seller Dashboard{% endblock%}
{% block body%} 
    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 100px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Add new product</h1>
        </div>
    </div>
    <!-- Page Header End -->
    {% if group %}
    <div class="container-fluid pt-5" style="background-color: #EBEBEB;">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <div class="mb-4">
                    <form method="post" action="">
                        {% csrf_token %}
                    <div class="col-md-6 form-group">
                        <label>Select Category</label>
                        <select name="category" class="form-control">
                            {% for i in group %}
                            <option value={{i.id}}>{{i.title}}</option>
                            {% endfor%}
                          </select>
                    </div>
                    <div class="col-md-12 form-group">
                        <button type="submit" class="btn btn-primary">Select</button>
                    </div>
                </form>

                </div>
            </div>
        </div>
    </div>

{% endif%}

{% if sub_group %}
    <div class="container-fluid pt-5" style="background-color: #EBEBEB;">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <div class="mb-4">
                    <label style="color:red;">{{path}}</label >
                    <form method="post" action="">
                        {% csrf_token %}
                    <div class="col-md-6 form-group">
                        <label>Select Sub Category</label>
                        <select name="sub_category" class="form-control">
                            {% for i in sub_group %}
                            <option value={{i.id}}>{{i.title}}</option>
                            {% endfor%}
                          </select>
                    </div>
                    <div class="col-md-12 form-group">
                        <button type="submit" class="btn btn-primary">Select</button>
                    </div>
                </form>

                </div>
            </div>
        </div>
    </div>

{% endif%}



{% if product_create_path%}
    <!-- Checkout Start -->
    <div class="container-fluid pt-5" style="background-color: #EBEBEB;">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <div class="mb-4">
                    <label style="color:red;">{{product_create_path}}</label>
                    <h4 class="font-weight-semi-bold mb-4">Enter Product detials</h4>
                    {% if messages %}
                    <ul class="messages">
                    {% for message in messages %}
                    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
                    {% endfor %}
                </ul>
                {% endif %}
                    <form method="post" action="">
                    {% csrf_token %}
                        <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Product Title</label>
                            <input class="form-control" name="name" type="text" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Price</label>
                            <input class="form-control" type="number" name="price" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Discount</label>
                            <input class="form-control" type="number" name="discount" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Actual Price</label>
                            <input class="form-control" type="number" name="a_price" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Brand Name</label>
                            <input class="form-control" type="text" name="brand" required >
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Model Name</label>
                            <input class="form-control" type="text" name="m_name" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Quantity</label>
                            <input class="form-control" type="number" name="qty" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Description </label>
                            <textarea row="5" col="200" class="form-control" spellcheck="true" name="desc"></textarea>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Display Image</label>
                            <input type="image" name="image" class="form-control-file" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" class="btn btn-primary">Submit Details</button>
                        </form>   
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Checkout End -->
    {% endif%}

    {% if product_feature_path%}
    
    <div class ="container">
        <label style="color:red;">{{product_feature_path}}</label >
        <table class="table">
            <tbody>
        {% if os %}
              <tr>
                <td class="table-active" width="275px">OS<td>
                <td>{{os.os}}</td>
              </tr>
         {% endif%}  
         {% if ram %}
              <tr>
                <td class="table-active" width="275px">RAM<td>
                <td>{{ram.ram}} GB</td>
              </tr>
         {% endif%}
         {% if rom %}
              <tr>
                <td class="table-active" width="275px">ROM<td>
                <td>{{rom.rom}} GB</td>
              </tr>
         {% endif%}
         {% if  ssd %}
              <tr>
                <td class="table-active" width="275px">SSD<td>
                <td>{{ssd.ssd}} GB</td>
              </tr>
         {% endif%}
         {% if display_size %}
              <tr>
                <td class="table-active" width="275px">Display Dimensions<td>
                <td>{{display_size.size}} </td>
              </tr>
              {% endif%}
        {% if display_desc %}
              <tr>
                <td class="table-active" width="275px">Display<td>
                <td>{{display_desc.desc}}</td>
              </tr>
              {% endif%}

         
        
        {% if battery_desc %}
              <tr>
                <td class="table-active" width="275px">Batteries <td>
                <td>{{battery_desc.desc}}</td>
              </tr>
         {% endif%}
         {% if battery_power %}
              <tr>
                <td class="table-active" width="275px">Battery Power Rating<td>
                <td>{{battery_power.power}}</td>
              </tr>
              {% endif%}
         
             
         
         {% if special %}
              <tr>
                <td class="table-active" width="275px">Special features<td>
                <td>{{special.desc}}</td>
              </tr>
         {% endif%}
         {% if connectivity %}
              <tr>
                <td class="table-active" width="275px"> Connectivity technologies<td>
                <td>{{connectivity.desc}}</td>
              </tr>
         {% endif%}
         {% if camera_desc %}
              <tr>
                <td class="table-active" width="275px">Camera<td>
                <td>{{camera_desc.desc}}</td>
              </tr>
              
         {% endif%}
         {% if camera_front %}
              <tr>
                <td class="table-active" width="275px">Camera Front<td>
                <td>{{camera_front.desc}}</td>
              </tr>
              
         {% endif%}
         {% if camera_rear %}
              <tr>
                <td class="table-active" width="275px">Camera Rear<td>
                <td>{{camera_rear.desc}}</td>
              </tr>
              
         {% endif%}
         {% if box %}
              <tr>
                <td class="table-active" width="275px">Whats in the box<td>
                <td>M dsfaffdf  dsfdsf dsf fdsf  dsfasf sfda dsark</td>
              </tr>
         {% endif%}
         {% if weight %}
              <tr>
                <td class="table-active" width="275px">Item Weight<td>
                <td>{{weight.weight}}</td>
              </tr>
         {% endif%}
         {% if manufacturer %}
              <tr>
                <td class="table-active" width="275px">Manufacturer<td>
                <td>{{manufacturer.desc}}</td>
              </tr>
         {% endif%}
         
            </tbody>
          </table>

        </div>
        <br>
        <div class="container">
            <div class="container-fluid pt-5" style="background-color: #EBEBEB;">
                <div class="row px-xl-5">
                    <div class="col-lg-8">
                        <div class="mb-4">
                            <form method="post" action="">
                                {% csrf_token %}
                            <div class="col-md-6 form-group">
                                <label>Select Feature</label>
                                <select name="feature" class="form-control">
                                    <option value="Other_image">Other image</option>
                                    <option value="SSD">SSD</option>
                                    <option value="RAM">RAM</option>
                                    <option value="ROM">ROM</option>
                                    <option value="Display_desc">Display description</option>
                                    <option value="Display_size">Display size</option>
                                    <option value="Battery_power">Battery power</option>
                                    <option value="Battery_desc">Battery description</option>
                                    <option value="Camera_front">Camera front</option>
                                    <option value="Camera_rear">Camera rear</option>
                                    <option value="Camera_desc">Camera description</option>
                                    <option value="OS">OS description</option>
                                    <option value="Connectivity_technologies">Connectivity technologies</option>
                                    <option value="Special_features">Special features</option>
                                    <option value="BOX">BOX</option>
                                    <option value="Manufacturer">Manufacturer</option>
                                    <option value="Country_of_origin">Country of origin</option>
                                    <option value="Item_weight">Item weight</option>
                                  </select>
                            </div>
                            <div class="col-md-12 form-group">
                                <button type="submit" class="btn btn-primary">Select</button>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        
        
        </div>

    {% endif%}




    {% endblock%}