{% extends 'base.html' %}
{% load static %}
{%block title %}Dashboard {% endblock%}

{%block body %}

<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="3000">
        <img src="{%static 'img/ad-4.jpg'%}" class="d-block w-100" height="500" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="{%static 'img/ad-3.png'%}" class="d-block w-100"height="500" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="{%static 'img/ad-2.jpg'%}" class="d-block w-100"height="500" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="{%static 'img/ad-1.jpg'%}" class="d-block w-100"height="500" alt="...">
      </div>
    </div>
  </div>
<br>





    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
      <div class="col">
        <div class="p-3 border bg-light">
            <img src="{%static 'img/brand1.png'%}" width="180" alt="Slide">
        </div>

      </div>
      <div class="col">
        <div class="p-3 border bg-light">
            <img src="{%static 'img/brand2.png'%}" width="180" alt="Slide">
        </div>
      </div>
      <div class="col">
        <div class="p-3 border bg-light">
            <img src="{%static 'img/brand3.png'%}" width="180" alt="Slide">
        </div>
      </div>
      <div class="col">
        <div class="p-3 border bg-light">
            <img src="{%static 'img/brand4.png'%}" width="180" alt="Slide">
        </div>
      </div>
      <div class="col">
        <div class="p-3 border bg-light">
            <img src="{%static 'img/brand5.png'%}" width="180" alt="Slide">
        </div>
      </div>
    </div>
    <br>
















    <br>
        <div class="b-example-divider"></div>

        <div class="container px-1 py-5" id="icon-grid">
          <h2 class="pb-2 border-bottom"></h2>
      
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
            <div class="col d-flex align-items-start">
              <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#bootstrap"/></svg>
              <div>
                <h4 class="fw-bold mb-0" style="color:blue;">30 Day Return</h4>
                <p>Paragraph of text beneath the heading to explain the heading.</p>
              </div>
            </div>
            <div class="col d-flex align-items-start">
              <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#cpu-fill"/></svg>
              <div>
                <h4 class="fw-bold mb-0" style="color:green;">Free Shipping</h4>
                <p>Paragraph of text beneath the heading to explain the heading.</p>
              </div>
            </div>
            <div class="col d-flex align-items-start">
              <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#calendar3"/></svg>
              <div>
                <h4 class="fw-bold mb-0" style="color:maroon;">Secure Payment</h4>
                <p>Paragraph of text beneath the heading to explain the heading.</p>
              </div>
            </div>
            
            <div class="col d-flex align-items-start">
              <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#tools"/></svg>
              <div>
                <h4 class="fw-bold mb-0" style="color:teal;">New Products</h4>
                <p>Paragraph of text beneath the heading to explain the heading.</p>
              </div>
            </div>
            
          </div>
          <h2 class="pb-2 border-bottom"></h2>
        </div>
  


  

{% endblock%}